---
import Layout from '../layouts/Layout.astro';
import Table from '../components/Table.astro';
import Button from '../components/Button.astro';
import MobileHeader from '../components/MobileHeader.astro';
import { getBarbershopContent } from '../lib/sheet';

const { tableData, text } = await getBarbershopContent();
---

<Layout title="Barbershop">
  <MobileHeader>Barbershop</MobileHeader>

  <p>
    {text}
  </p>

  <Table headings={['Service', 'Pris']} data={tableData} />
  <Button
    target="_blank"
    rel="nofollow noopener"
    data-ga="Barbershop button from startpage"
    href="https://www.timecenter.se/hvitan/">Boka tid</Button
  >
</Layout>
