---
import Button from '../components/Button.astro';
import MobileHeader from '../components/MobileHeader.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tattoo">
  <MobileHeader>Tattoo</MobileHeader>
  <p>Tatueringarna på Kollektivet Hvitan görs av Olle Alm och Jonte Palm</p>

  <Button data-ga="Book Olle tatto" href="mailto:olle@hvitan.com"
    >Kontakta Olle</Button
  >
  <Button data-ga="Book Jonte tatto" href="mailto:jontebookings@gmail.com"
    >Kontakta Jonte</Button
  >
</Layout>
