* {
  box-sizing: inherit;
}

*::selection {
  background: #222;
  color: #fff;
  text-shadow: none
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  color: #222;
  font-family: 'Courier', Helvetica, Arial, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
