<h1><slot /></h1>

<style>
  h1 {
    letter-spacing: 2px;
    background: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 2px 10px;
    text-transform: uppercase;
    font-size: 16px;
    margin: 1em 0;
  }

  @media screen and (min-width: 600px) {
    h1 {
      display: none;
    }
  }
</style>
